---
title: Appendix 1&#58; Children and Teenagers
date: 2014/12/16
sectiontitle: Additional Resources
---

%p
  It is a daunting discovery when we realize that, as the Church, we are the ones responsible for
  supporting parents in discipling the next generation in our distributed churches as well as providing
  one another with the support, accountability, and grace we need as the spiritual leaders of our
  children.

%p
  How can a distributed church provide this for families?

%h2
  Getting Started

%p
  Your distributed church is unique, so in your quest to provide a weekly place for the next
  generation to learn Bible stories and how to apply them, it may take time to find the best fit. Check
  out the options below, or design your own plan. With prayerful consideration and some trial and
  error, you can develop a plan that fulfills our responsibilities to the next generation and our calling
  as disciples making disciples together.

%p
  Choosing Curriculum: When selecting curriculum for adults, teens, or children, check to see
  whether the curriculum seems to be more God-centered or man-centered. For example, if the
  overview or table of contents focuses on who God is, what He has done, and how we can serve
  and love Him according to His Word, that will serve your church better than one that focuses on
  the human heroes of the faith and how to be more like them.

%p
  More about teenagers: Know your teens… the teenage years are not one-size fits all! Take the time
  to ensure that each teenager in your gathering has the opportunity to grow, learn, and to be lead.
  Some teenagers learn best by teaching the younger children. Some need time with peers or time
  alone to discover ways to apply God’s Word to their lives. Be flexible in adapting any of the options
  above.

%p
  For more information on ways to serve the families in your distributed church, go to:
  www.resourcewell.org .
