// *************************************
//
//   Article
//   -> Controls article styles
//
// *************************************

.article
  margin: $b-space-l auto $b-space-m
  max-width: 45em
  overflow: hidden
  padding-left: 1.5 * $b-space
  padding-right: 1.5 * $b-space
  position: relative
  z-index: 200
  +respond-to($g-s)
    margin: $b-space-xl auto $b-space-l
    padding-left: $b-space-l
    padding-right: $b-space-l
  +respond-to($g-m)
    padding-left: 1.25 * $b-space-xl
    padding-right: 1.25 * $b-space-xl
    text-align: justify
  p
    font-size: 135%

// -------------------------------------
//   Scaffolding
// -------------------------------------

.article-image
  margin: 0 auto $b-space-m
  max-width: $b-maxWidth-s
  +respond-to($g-s)
    margin: 0 auto $b-space-l
