// *************************************
//
//   Navigation
//   -> Template/article navigation
//
// *************************************

.navigation
  font-family: $b-fontFamily-heading

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

.navigation.is-shown
  .navigation-content
    opacity: 1
    visibility: visible

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.navigation-content
  -webkit-overflow-scrolling: touch
  @extend .stretch
  background: $blue
  color: white
  opacity: 0
  overflow-y: scroll
  padding: $b-space-m
  position: fixed
  transition: opacity 250ms $b-transition
  visibility: hidden
  z-index: 300
  +respond-to($g-s)
    padding: $b-space-l
  +respond-to($g-m)
    padding: $b-space-xl (1.5 * $b-space-xl)
  h2
    +respond-to($g-m)
      text-align: center

.navigation-intro
  display: block
  font-weight: 800
  letter-spacing: 0.125em
  margin: 0 auto
  text-align: center
  text-transform: uppercase
  width: 12em

.navigation-toggle
  background: $teal
  border-radius: 50%
  bottom: 1.5em
  box-sizing: border-box
  height: 5em
  padding: 0.75em
  position: fixed
  right: 1.5em
  width: 5em
  z-index: 300
  &::before
    @extend .stretch
    content: ''
  +respond-to($g-m)
    bottom: auto
    left: 1em
    right: auto
    top: 2em
