// *************************************
//
//   Number
//   -> Homepage numbers
//
// *************************************

.number
  border: $b-borderStyle $b-borderWidth lighten($blue,10%)
  border-radius: 50%
  color: $c-text-invert
  display: block
  font-family: $b-fontFamily-heading
  font-size: 250%
  font-weight: 800
  height: 3em
  line-height: 2.9
  margin: 0 auto $b-space
  text-align: center
  width: 3em

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-scaffolding
