// *************************************
//
//   Pagination
//   -> Article next/previous links
//
// *************************************

.pagination
  border-top: $b-border
  margin: $b-space-m auto 0
  padding-top: $b-space-m
  text-align: justify
  +respond-to($g-s)
    margin: $b-space-l auto 0
    padding-top: $b-space-l
  +respond-to($g-m)
    border-top: 0
    left: 1em
    margin: 0
    padding: 0
    position: fixed
    right: 1em
    top: 50%
    transform: translateY(-50%)
  &:after
    content: ''
    display: inline-block
    width: 100%

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

.pagination-next,
.pagination-previous
  background: white
  border: $b-border
  border-radius: 50%
  box-sizing: border-box
  display: inline-block
  height: 5em
  padding: 1em
  transition: all 350ms $b-transition
  width: 5em
  svg
    fill: $c-border
    transition: all 350ms $b-transition
  &:hover
    border-color: $teal
    svg
      fill: $teal

.pagination-next

.pagination-previous

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-scaffolding
