// *************************************
//
//   Pagination
//   -> Article next/previous links
//
// *************************************

.pagination
  border-top: $b-border
  padding-top: $b-space-m
  +respond-to($g-s)
    padding-top: $b-space-l
  +respond-to($g-m)
    border-top: 0
    padding: 0
  &:after
    content: ''
    display: inline-block
    width: 100%

// -------------------------------------
//   Scaffolding
// -------------------------------------

.pagination-next,
.pagination-previous
  background: white
  border: $b-border
  border-radius: 50%
  box-sizing: border-box
  display: inline-block
  height: 5em
  padding: 1em
  transition: all 350ms $b-transition
  width: 5em
  +respond-to($g-m)
    position: fixed
    top: 50%
    transform: translateY(-50%)
  svg
    fill: $c-border
    pointer-events: none
    transition: all 350ms $b-transition
  &:hover
    border-color: $teal
    svg
      fill: $teal

.pagination-next
  float: right
  +respond-to($g-m)
    right: 1em

.pagination-previous
  float: left
  +respond-to($g-m)
    left: 1em
