// *************************************
//
//   Paper
//   -> Homepage download paper illo
//
// *************************************

.paper
  background: $c-background
  color: $blue
  font-family: $b-fontFamily-heading
  font-size: 150%
  font-weight: 800
  line-height: 1.2
  margin: 0 auto 1em
  padding: 65px 0 55px
  position: relative
  text-align: center
  width: 120px
  +respond-to($g-s)
    margin: 0.25em $b-space-s 0 0
  +respond-to($g-m)
    font-size: 200%
    margin: 0.25em $b-space-m 0 0
    width: 135px
  span
    color: $red
    display: block
    font-size: 35%
    letter-spacing: 0.125em
    text-transform: uppercase

.paper::after
  border: 25px solid transparent
  border-right-color: darken($c-background, 7%)
  border-top-color: darken($c-background, 7%)
  content: ''
  height: 0px
  position: absolute
  right: 0
  top: 50px
  width: 0px

.paper::before
  border: 25px solid transparent
  border-bottom-color: $blue
  border-left-color: $blue
  border-right-color: $red
  border-top-color: $red
  content: ''
  height: 0px
  position: absolute
  right: 0
  top: 0
  width: 0px
