---
title: Elements of the Network
date: 2014/12/09
sectiontitle: Section A&#58; I Am &#61; Us for Them There
---

%p
  %strong Distributed Church -
  a group of people who are choosing to focus their lives on Jesus in
  such a way that their very existence, activities, and conversations
  proclaim the good news of God. Connected to a network of churches
  and committed to one another, a distributed church is a spiritual
  family whose identity and arrangement is centered on who God is,
  what He has done, and what He calls the church to be and do in this
  world. Led by Church Leaders.

%p
  %strong Cluster -
  a group of distributed churches linked together through overlapping
  leadership for common purpose and shared resources. The basis of the
  cluster could be geography, ethnicity (for example, immigrants who
  all speak the same language), life stage, denominational
  affiliation, or another common bond that leads to mutual
  participation. Most often clusters form naturally as a result of
  geography or because a church multiplies and are self-organizing.
  Led by Cluster Leaders.

%p
  %strong Resource Center -
  an equipping center for the distributed churches and the network, as
  well as a mechanism to deliver central resources to people and
  organizations that cannot solely be provided in the distributed
  churches and/or clusters. This would include assets of church
  development such as large worship gatherings, Life Hope, children’s
  curriculum, technological tools, advanced Pastoral care, training
  resources for distributed church leaders, etc.

%p
  %strong Apostolic Team -
  a group of guiding leaders focused on helping churches get formed
  and established, shaping them and building them into strong
  networks, and correcting error or replacing leaders where necessary.
  The apostolic team operates within the local context, but is
  primarily focused on the expansion of the network.

%p
  The nature of God establishes the ideal identity, the definition and
  other tools give us clarity of direction, and the network finishes
  the framework. We have the navigational tools to get where God has
  called us. Now, we build up the distributed church.
