---
title: Who Is My Future Distributed Church?
date: 2014/12/05
sectiontitle: Section A&#58; I Am &#61; Us for Them There
---

%p
  In order to fully grasp the definition of a distributed church,
  there is one more layer we need to add. If a distributed church is
  a group of people, where do those people come from and what holds
  them together? Is it boundary lines or a gravitational center?

%p
  There are two primary approaches to understanding when a group of
  people constitute a "church." The first is to clearly define the
  boundary lines of what a "church" is. If we can outline the criteria
  precisely enough, we can analyze a group of people and decide if
  they meet the definition. In this way of thinking, someone is either
  in or they are out. If someone is "out", the goal is to get them to
  go through a series of adjustments to get “in”.

%p
  The other way to understand when a group of people constitute a
  “church” is to concentrate less on the boundary lines and look more
  at the center. This way focuses on the people being pulled in by a
  common identity or common purpose. In this way of looking at things,
  someone is either heading toward the center or they are heading away
  from the center, regardless of how near or far away they are. If
  someone is heading away from the center, the goal is to get them to
  turn back toward the common identity and/or common purpose.

%p
  Organizations are focused on defining boundary lines. Movements are
  focused on defining the gravitational center. (In fact, once hard
  boundaries are used to define a movement it inevitably becomes an
  organization.)

%p
  While the clear boundary line understanding can be helpful in
  classification, it is rarely helpful in relationship and mission.
  As such, a distributed church is defined more by its gravitational
  center. A distributed church is made up of people linked together
  in the overlapping relationships where God has providentially placed
  them, pulled by the gravitational center of following and serving
  Jesus. Yes, this leaves the boundary lines a bit blurry, but it also
  facilitates total life congruency instead of compartmentalization.

%p
  Who are the people you overlap with most that are headed toward
  Christ? This is the likely starting place for forming your
  distributed church.

%p
  Who are the people you overlap with most that could be headed toward
  Christ? This is the likely starting place for your distributed
  church’s mission.
