---
title: Evangelize
date: 2014/12/11
sectiontitle: Section B&#58; Distributing the Church
layout: 'layout_article'
---

%h2
  God so Loved The World

%p
  God loves the people of this world. The incarnation of Jesus is
  evidence of it. While He was on earth, Jesus couldn’t stop talking
  about it. His death on a cross is proof of it. God loves sinners. He
  loves the sick. He loves the broken. He loves the wanderers. He
  loves the outsiders. He loves us.

%p
  God loves people so much that He gave His son as a ransom for all.
  (John 3:16)

%p
  So a church that reflects the image of God is a church that loves
  the outsider. It is a church that cares for one another, for we too
  were once outsiders, but it is also a church that keeps a spot open
  at the table for those not yet included. And we don’t just wait for
  them to join us, we invite them to the feast…

%h2
  As You Go, Make Disciples

%blockquote
  Jesus came up and spoke to them, saying, “All authority has been
  given to Me in heaven and on earth. Go therefore and make disciples
  of all the nations, baptizing them in the name of the Father and the
  Son and the Holy Spirit, teaching them to observe all that I
  commanded you; and lo, I am with you always, even to the end of the
  age.” (Matthew 28:18-20)

%p
  This is the final statement of Jesus in the Gospel of Matthew. Why,
  with His last words on earth, would Jesus focus His instruction on
  making disciples? He could have told a story reminding his followers
  of the keys to the abundant life that He had talked about before, or
  reinforced the great commandment to love God and neighbor. Instead
  he issues a calling. And why then would followers of Jesus be
  willing to die making this happen for the benefit of others?

%p
  The apostle John answers this question in the beginning and end of
  his Gospel:

%blockquote
  In Him was life, and the life was the Light of men. (John 1:4)

%blockquote
  and that believing you may have life in His name. (John 20:31b)

%p
  In the end Jesus was giving the key to a good life - life in and
  through Him. The commission of Jesus isn’t a power grab by a
  renegade ruler, but an announcement from the God of love that He is
  setting to right all things. And, that He is giving us the great
  privilege of joining Him in that work.

%p
  It is for this reason that we tell people the Good News of God and
  the good news in this world. It is for this reason that Paul would
  pen this amazing declaration in his letter to the Corinthian churches:

%blockquote
  Now all these things are from God, who reconciled us to Himself
  through Christ and gave us the ministry of reconciliation, namely,
  that God was in Christ reconciling the world to Himself, not
  counting their trespasses against them, and He has committed to us
  the word of reconciliation.

%blockquote
  Therefore, we are ambassadors for Christ, as though God were making
  an appeal through us; we beg you on behalf of Christ, be reconciled
  to God. He made Him who knew no sin to be sin on our behalf, so that
  we might become the righteousness of God in Him. (2 Corinthians 5:18-21)

%p
  Jesus is the hope of the world. And He has entrusted us with the
  message of hope and Good News, not only for life after death, but
  also for life today. Never have we needed proclaimers of this hope
  and Good News more that we do today. Never have we needed small
  communities of people to demonstrate the power of the Gospel more
  than we do today. This is not a time for us to huddle together in
  protection from the world. This is a time to go forth and love our
  neighbor as ourselves.

%h2
  Relational Evangelism

%p
  When Jesus gave the Great Commission He gave all of His followers
  the calling of making disciples wherever they went. In fact, the
  language He uses would more appropriately be translated “as you go,
  make disciples…” Jesus was not commanding us to make a special trip
  to share our faith with others but rather directing us toward
  something that best takes place along the way in the close proximity
  of relationship.

%p
  Making disciples is not something primarily to be left to the
  professional minister, outside the context of relationship, but is
  the privilege of every person who follows Jesus. We are not trying
  to convince people or debate people into a relationship with Jesus.
  We are living and sharing our story of faith. The people most likely
  to be impacted by our story, the story of the way Jesus has changed
  us, are the people we see all the time.

%p
  This relational connection is why Distributed Churches become key.
  If we are going to bring the church close to people in a way that
  they can witness the power of the Gospel to transform lives, then we
  have to organize the church outside the walls of a central building.
  And, if the people that encounter these Gospel communities are
  compelled by what they encounter, we need to include them without
  referring them to an institution.

%p
  So, we live out our faith and relationships in close proximity to
  our friends and neighbors and coworkers. We also include them in the
  life of our distributed church whenever possible, inviting them to
  join into meals or serving others, and offering to serve and pray
  for them in challenging situations.

%p
  This can be intimidating, but it need not be complicated. Pray.
  Serve. Build actual friendships (and stay friends whether they
  believe in Jesus or not). As you do each, listen for opportunities
  to share the story of how God has impacted your life with His love
  and forgiveness.

%p
  There are great resources to equip you to share the story of God in
  your life. It is beyond the scope of this guide to get into specific
  techniques or methods. In fact, the brilliance of the writers of the
  Bible is that they understood that the calling was universal, the
  Gospel itself was universal, but how they shared it varied from
  situation to situation.

%p
  Go to <a href="//www.resourcewell.org">www.resourcewell.org</a> to
  find more specific tools and techniques to help you.

%p
  There are also great resources and ideas for serving people well at
  <a href="//www.servingtoempower.net">www.servingtoempower.net</a>.
