---
title: Additional Resources
date: 1996/01/01
sectiontitle: Appendix 4
---

%p
  %strong Big Picture Principles
%p
  <a href="../../assets/downloads/The-Distributed-Church-Book.pdf">Church Distributed, by Joel C Hunter</a>
%p
  Rooted and Grounded, by Abraham Kuyper
%p
  Conversion, Culture, and Cognitive Categories, by Paul Hiebert
%p
  Linked: How Everything Is Connected to Everything Else and What It Means for Business, Science,
  and Everyday Life, by Albert-laszlo Barabasi

%p
  %strong Early Church Scholarship
%p
  House Church and Mission: The Importance of Household Structures in Early Christianity, by Roger
  W. Gehring
%p
  Going to Church in the First Century, by Robert Banks and Judith Clingan
%p
  The Churches of the First Century, by Jeff Reed, BILD International
%p
  Kerygmatic Communities: Evangelism and the Early Churches, by Jeff Reed, BILD International

%p
  %strong Evangelism - Establishing - Entrusting
%p
  <a href="//www.resourcewell.org">www.resourcewell.org</a> - a compilation of resources specific to distributing the church.
%p
  The Leadership Series, by BILD International
