---
title: Children and Teenagers
date: 1999/01/01
sectiontitle: Appendix 1
---

%p
  It is a daunting discovery when we realize that, as the Church, we are the ones responsible for
  supporting parents in discipling the next generation in our distributed churches as well as providing
  one another with the support, accountability, and grace we need as the spiritual leaders of our
  children.

%p
  How can a distributed church provide this for families?

.card.card--a
  %h3 God's Direction
  %p
    Jesus said, ‘Let the little children come to Me, and
    do not hinder them, for the kingdom of heaven
    belongs to such as these.’” &ndash; Matthew 19:14
  %p
    “If anyone causes one of these little ones—those
    who believe in Me—to stumble, it would be better
    for them to have a large millstone hung around
    their neck and to be drowned in the depths of the
    sea.” &ndash; Matthew 18:6
  %h3 Our Response
  %p
    For children and teens:
    %br
    Provide a weekly place for the next generation to
    learn stories from the Bible and how to apply them.

.card.card--a
  %h3 God's Direction
  %p
    “Love the LORD your God with all your heart and
    with all your soul and with all your strength. These
    commandments that I give you today are to be on
    your hearts. Impress them on your children. Talk
    about them when you sit at home and when you
    walk along the road, when you lie down and when
    you get up. Tie them as symbols on your hands
    and bind them on your foreheads. Write them on
    the doorframes of your houses and on your gates.”
    &ndash; Deuteronomy 6:5-9
  %p
    “Join together in following my example, brothers
    and sisters, and just as you have us as a model,
    keep your eyes on those who live as we
    do.” &ndash; Philippians 3:17
  %p
    “Love the Lord your God with all your heart and
    with all your soul and with all your strength and
    with all your mind; and, love your neighbor as
    yourself.” &ndash; Luke 10:27
  %h3 Our Response
  %p
    For parents:
    %br
    Encourage parents to embrace the new mindset of
    being a disciple and making disciples. Their sons
    and daughters learn how to respond in life by
    watching how their parents respond in
    relationships, in conflict, in success, in failure, in
    disappointment, and in those moments when we
    give in to temptation.
  %p
    Discipling our sons and daughters is not as simple
    as developing godly habits such as praying,
    attending church, or doing acts of service. It is a
    daily walk where we are modeling the attitude of
    Christ and the daily navigation of His greatest
    commandments. (Luke 10:27)

%h2
  Getting Started

%p
  Your distributed church is unique, so in your quest to provide a weekly place for the next
  generation to learn Bible stories and how to apply them, it may take time to find the best fit. Check
  out the options below, or design your own plan. With prayerful consideration and some trial and
  error, you can develop a plan that fulfills our responsibilities to the next generation and our calling
  as disciples making disciples together.

.card.card--a
  %h3 Separate Studies for Children and Adults
  %p
    In addition to your distributed church gathering, encourage
    parents to take their children and teens weekly to a traditional
    church gathering that offers Sunday School classes (such as
    NACD at Longwood, Mount Dora, or Oviedo) or a local Bible
    Club (such as <a href="//www.awana.org">Awana</a>) to learn Bible
    stories, how to adapt them to their lives, memorize scripture,
    and worship with their peers. At your distributed church
    gathering, include the children and teens in the meal, worship
    time, and prayer. If your distributed church has an adult
    Bible study, that would be a good time for the children to enjoy
    supervised free time, since they have already learned the Bible
    story and life application at the larger gathering.
  %h3 Same Study for Everyone
  %p
    At your gathering, include the children and teens in the meal,
    worship time, and prayer. As a group, read and discuss The
    Worship, The Word, & The Way take-home devotionals: Daily
    Way and/or Ponder, Pray & Play. Then, to allow adults to have
    more mature conversations, the teens can organize a
    recreational time for the younger children. The take-home
    devotionals (Daily Way/Ponder, Play & Pray) can be downloaded
    from ResourceWell.org/childrenministry.
  %h3 Same Study with Breakout Groups
  %p
    Lifeway offers three studies, each with separate workbooks
    for children, teens, and adults, so that every age may study the
    selected topic on their own level. The three Bible studies are
    Explore the Bible (book by book), Bible Studies for Life (navigating
    everyday issues), and The Gospel Project (understanding
    the whole story of scripture). This reasonably priced curriculum
    offers a variety of elements including a study plan for every
    age, interactive iOS and Android apps, media components, online
    helps, and Family Connection take-home tools. For more
    information, go to <a href="//www.lifeway.com/go">www.Lifeway.com/go</a>.

.card.card--a
  %h3 Separate Studies for Children and Adults
  %p
    At your gathering, include the children and teens in the meal,
    worship time, Bible reading, and prayer. During the adult Bible study,
    have one adult teach the children and teens a Bible story using The
    Worship, The Word & The Way curriculum (available at
    ResourceWell.org/ children-ministry).
  %p
    This free downloadable curriculum explores the stories of God from
    Genesis to Revelation in a threeyear cycle. Adaptable elements
    include Bible readings, discussions, crafts, games, puppet sketches, and
    online videos of the sketches as seen in Northland’s Children’s
    Church. We suggest having a few adults alternate as teachers, so
    everyone can regularly take part in the adult fellowship. Northland’s
    global curriculum team is available to train and help you adapt it the
    curriculum to your specific needs. Adaptations for children with
    disabilities are also available.
  %h3 Same Study for Everyone
  %p
    Download the free Scope & Sequence of The Worship, The
    Word & The Way from ResourceWell.org. Use this guide to
    select Bible stories (appropriate for all ages) for everyone in your
    distributed church to walk through the Bible together from Genesis to
    Revelation. For ideas on discussion topics and life applications, be sure
    to check out the teacher guides and take-home devotionals for each
    Bible story.
  %h3 Same Study with Breakout Groups
  %p
    American Bible Society publishes 30-day studies for all ages as well as
    for families.
  %p
    In Bible Trek: LUKE, all ages go through the book of Luke together.
    You’ll find daily devotionals for every age as well as a Family Discussion
    Guide at <a href="//www.nowluke.com">www.NowLuke.com</a>
  %p
    Acts TRACKS, a study of Acts, is available at NowIsTheTime.AmericanBible.org
  %p
    Both studies are available online as well as in magazine format at
    <a href="//www.bibles.com">www.Bibles.com</a>
  %p
    Include everyone in the meal, worship time, Bible reading, and
    prayer. After reading the passage from Acts together, adults,
    teenagers, and children can break out to study the meaning at their own level.

.card.card--a
  %h3 Separate Studies for Children and Adults
  %p
    Include all ages in the meal, worship time, and prayer. While the adults
    participate in their devotional/discussion, an adult or older
    teenager can read and visually illustrate a Bible story using the
    KIDStory storyboard and Bible curriculum. This curriculum includes
    a Bible story discussion using the Socratic teaching approach. It can
    be purchased from <a href="//www.kidsaroundtheworld.com">www.kidsaroundtheworld.com</a>.
  %h3 Same Study for Everyone
  %p
    Adapt the KIDStory Bible curriculum for everyone in your distributed
    church to walk through the Bible together from Genesis to Revelation.
    Worship together and discuss the story’s life applications over a meal.
    Allow time at the end for adults to have further discussion while the
    children and teens enjoy recreational play. This curriculum includes a Bible
    story discussion that uses the Socratic teaching approach. It can
    be purchased at <a href="//www.kidsaroundtheworld.com">www.kidsaroundtheworld.com</a>.

.card.card--a
  %h3 Separate Studies for Children and Adults
  %p
    Include all ages in the meal, worship time, and prayer. If the adults are
    participating in The First Principles Series study (<a href="//www.bild.org">www.Bild.org</a>), one
    adult could lead the children in The Apostles’ Creed Study available at
    <a href="//www.ResourceWell.org/childrenministry/other">www.ResourceWell.org/childrenministry/other</a>, or the Young Disciples
    Series, which will also be available at <a href="www.resourceWell.org">www.resourceWell.org</a>.

%p
  Choosing Curriculum: When selecting curriculum for adults, teens, or children, check to see
  whether the curriculum seems to be more God-centered or man-centered. For example, if the
  overview or table of contents focuses on who God is, what He has done, and how we can serve
  and love Him according to His Word, that will serve your church better than one that focuses on
  the human heroes of the faith and how to be more like them.

%p
  More about teenagers: Know your teens… the teenage years are not one-size fits all! Take the time
  to ensure that each teenager in your gathering has the opportunity to grow, learn, and to be lead.
  Some teenagers learn best by teaching the younger children. Some need time with peers or time
  alone to discover ways to apply God’s Word to their lives. Be flexible in adapting any of the options
  above.

%p
  For more information on ways to serve the families in your distributed church, go to:
  <a href="//www.resourcewell.org">www.resourcewell.org</a>.
