---
title: Distributed Church Definition
date: 2011/01/01
sectiontitle: Section A&#58; I Am &#61; Us for Them There
header_image: iam-badge.png
---

%p
  A distributed church is a group of people who are choosing to focus
  their lives on Jesus in such a way that their very existence,
  activities, and conversations proclaim the good news of God.
  Connected to a network of churches and committed to one another, a
  distributed church is a spiritual family whose identity and
  arrangement is centered on who God is, what He has done, and what He
  calls the church to be and do in this world.

%p
  Said shorter, a distributed church is a group of people who are
  focusing their lives on Jesus, seeking to more intentionally relate
  to one another in Life-giving ways (community), help one another
  become established in the teaching and character of Jesus
  (discipleship), and together live out the mission of Jesus (service
  and evangelism).

%p
  What is the typical size? It varies: 10-15; 20-50; 70; even 2-3 can
  be an emerging church.

%p.bbn.mbf.mtf.pbxs.ptxs
  %strong Model:
  Extended Family
%p.bbn.mbf.mtf.pbxs.ptxs
  %strong Catalytic Event:
  Family Meal (The Lord’s Supper)
%p.mbs.mtf.pbxs.ptxs
  %strong Distinctive Attribute:
  Love &hellip;of God &hellip;of One Another &hellip;of Neighbor

%p
  One thing you see from this definition is that living as the church
  is not limited to gathering in particular types of buildings for a
  particular kind of experience. It also isn't about adding a bunch of
  different events to our lives. It is about being a particular kind
  of people intentionally linking together around a particular way of
  life. In fact, the early followers of Jesus were said to follow
  "The Way."

%p
  Living as the church is about being a people, centered on Jesus as
  the head and cornerstone, maturing together as a living, breathing
  proclamation of the gospel, to serve and include those not yet
  included, in our neighborhoods, and cities, and nations. (Exodus
  6:7; Jeremiah 30:22; Leviticus 26:12; Matthew 5:14-16; Luke 10:2;
  Colossians 1:15-20; Ephesians 2:11-22; 1 Peter 2:1-9; Revelation 21)

%p
  God's plan to bring His kingdom to earth has not changed and the
  heart of that plan is communities of disciples, transformed by
  Jesus, serving others.
