---
title: Early Church Pattern of Church Planting
date: 2005/01/01
sectiontitle: Section B&#58; Distributing the Church
---

%p
  Luke’s recording of the work of the Holy Spirit through the acts of
  the apostles gives the church today a picture of how the Gospel
  spread in the beginning and forms a pattern that we can emulate
  today. Acts provides the narrative of the story; the epistles reveal
  the training content for establishing a church. By reading both Acts
  as well as Paul’s letters, we see a model for distributed churches
  to follow. It is what we refer to as the Early Church Pattern of
  Church Planting.

.cell.cell--xs.mbl.mtl
  = partial "/assets/images/e-cycle.svg"

%p
  There are three key Scriptures that provide an overview of this
  pattern for the church:

%ul
  %li
    Acts 13:1-14:28: Evangelize, establish local churches, and train leaders.
  %li
    1 Timothy 3:14-16: Establish churches (the center of the pastoral writings).
  %li
    Ephesians 4:11-16: Equip the saints for the work of ministry.

%p In each of these three key areas, several functions take place:

%p
  %strong Evangelism:
  The Gospel is spread in neighborhoods, at work, in schools, and
  among family and friends as the Holy Spirit works through authentic
  relationships and the faithful wise activity and proclamation of
  believers. The church is also a witness in the community as it seeks
  the welfare of the city by serving in a variety of capacities.

%p
  %strong Establishing:
  The church is established in the faith by growing in relationships,
  teaching, and ministry. New believers are taught and model the first
  principles of the faith through a community of believers. Every
  person understands they have gifts and abilities to contribute to
  the Kingdom.

%p
  %strong Entrusting:
  The church develops leaders to give oversight and spiritual
  direction to the gathered community. These leaders are identified,
  trained, and commissioned for shepherding the church. Leaders are
  also recognized for their desire and abilities to expand the Kingdom
  of God, and are trained to more effectively lead in planting new
  churches and leading networks of churches.

%p
  This pattern and process provides the framework for the mission of a
  distributed church and must be embedded into its DNA. If followed,
  the result is the Gospel expanded by the unorganized activity of
  believers, led by the Holy Spirit, resulting in new churches
  spontaneously emerging and being linked together into networks. This
  spontaneous expansion of the Gospel is a key goal and indicator of
  health of a distributed church.

%p
  Note: The spontaneous expansion of the Gospel, through the early
  church pattern of church planting, is in contrast to the typical
  expansion seen today that is highly controlled and organized by a
  religious institution.
