---
title: Establish
date: 2003/01/01
sectiontitle: Section B&#58; Distributing the Church.
---

%h2
  Baptizing and Teaching Them

%blockquote
  Jesus came up and spoke to them, saying, “All authority has been given to Me in heaven
  and on earth. Go therefore and make disciples of all the nations, baptizing them in the
  name of the Father and the Son and the Holy Spirit, teaching them to observe all
  that I commanded you; and lo, I am with you always, even to the end of the
  age.” (Matthew 28:18-20)

%p
  We need to clear up a widely held but incomplete view: baptism is not solely an outward sign of
  inward change - it is that - but it is also an initiation rite. Baptism existed before Jesus made it the
  initiation rite for His followers. Baptism is a sacred practice that prepares one for entry into a new
  way of life with a new group of people.

%p
  Therefore it is not random that Jesus links the command to make disciples with baptism and
  teaching. He understood what we have often forgotten. Arranging our lives around Jesus happens
  in the context of community. In this Jesus community - a church - we learn how to observe all that
  Jesus commanded us. What this means is the church actually exists for the purpose of
  discipleship.

%p
  C.S. Lewis articulates this idea well in Mere Christianity when he says, “The Church exists for
  nothing else but to draw men into Christ, to make them little Christs. If they are not doing that, all
  the cathedrals, clergy, missions, sermons, even the Bible itself, are simply a waste of time. God
  became Man for no other purpose. It is even doubtful, you know, whether the whole universe was
  created for any other purpose.”

%p
  The church is Jesus’s vehicle for discipleship. Seeking to make disciples results in churches. They
  are so linked that “church” and “discipleship” are almost synonyms.

%p
  As much as it offends our western sensibilities of individualism, becoming a disciple of Jesus is not
  something we can do alone. And it is not something we can do anonymously. It is not simply
  conversion to a belief system that gives one access to a particular eternal destination followed by a
  commitment to live by a particular ethic. It is a conformation to a way of life. And that way of life
  necessitates others.

%p
  If breaking a simple habit is hard, then conforming our whole lives around the commands of Jesus
  is going to be extremely difficult. We’ll need more than just will power. Attending worship services
  will certainly help, but we’ll need a bit more of a robust structure for the other 166-167 hours a
  week. A distributed church is that structure.

%p
  That begs the question, how do you start one?

%h2
  The Process of Establishing a Distributed Church

%p
  You might have an existing group of friends that already functions as a distributed church, but
  don’t realize it as such. Your vision might be to form a church entirely from people currently
  disconnected from Jesus. Or, you might look around your network of relationships and realize that
  you are surrounded by followers of Jesus disconnected from one another. Every circumstance and
  situation is different. So, creating a definitive multi-step process for starting a distributed church is a
  futile exercise. Use this as a guide and ask God to show you how to adjust it to your specific
  situation.

%h3
  Phase I - Join God

%p
  Pray. Seek God. Watch and listen for what God is doing in your context. God has
  providentially placed you where you are, with the people you are with. Why?

%h3
  Phase II - Join One Another Together

%p
  Identify potential team leaders, the core group of people that will help you provide key
  leadership for the distributed church. If you’re building a church with people you are leading to
  Christ, then the initial converts can become the leadership team.

%p
  Study the Scriptures together, particularly Acts and the Epistles, and discuss (as leaders or
  with the whole initial church) what it means to be a church - to link together to reflect the
  image of God as I Am = Us for Them, There.

%h3
  Phase III - Build a One-Minded Vision

%p
  Develop an initial plan for serving people outside your group and engaging ministry
  opportunities that God brings your way. (Go to <a href="//resourcewell.org">resourcewell.org</a> for resources and ideas)

%p
  Develop an initial plan for establishing your community in the faith and establishing your
  identity as a church. (If your distributed church has children involved, then you want to think
  through a plan for children as well as adults. See Appendix 1 for resources)

%p
  Develop an initial plan for meeting together. How often (weekly is the Biblical pattern)? What
  do you hope to accomplish in the different gatherings? How does your group interact with
  worship services at Northland?

%p
  Develop an initial plan for utilizing the gifting of all.

%p
  Develop an initial plan for multiplying churches.

%h3
  Phase IV - Take It To The Next Level

%p
  Call forward those who demonstrate the desire to lead, developing in them the character
  qualifications given to Timothy and Titus.

%p
  Set in order what remains by continually studying the Scriptures and working to align your
  lives around the kingdom of God.

%p
  Resources: There is a list of key questions to help you think through the process of establishing a distributed
  church in your context in Appendix 2.

%h2
  The Gathering

%p
  A Distributed Church is more than getting together once a week, but a catalyst for the shared
  ministry and mission is the weekly gathering to celebrate the resurrection of Jesus and spur one
  another on toward love and good deeds. With Christ as the focus of the community, here is an
  example of what a Distributed Church might do when gathered:

%blockquote
  Doors to the home open well before the meal time. People are encouraged to come early if
  they are able. The time is open to help prepare and set up, hang out, bring a friend to play
  pool, watch football, talk and catch up, and let the kids play. The atmosphere feels like
  getting good friends and relatives together for a holiday.

%blockquote
  The meal begins when almost everyone is there. The host welcomes everyone and reminds
  them of their purpose in gathering. A leader begins the meal with the bread, or something
  that can be eaten, reads a portion of Scripture reminding everyone of Christ’s provision on
  our behalf, prays and blesses the meal (the cup may be blessed at this point or taken
  together at the end of the meal). Then everyone eats! The tone of this is joyful and
  celebratory and allows everyone to enjoy the meal together. At the conclusion of the meal,
  if not done in the beginning, the leader draws everyone’s attention toward the cup and,
  completing the sacrament of communion together, Scripture is read and concluded with
  prayer or possibly a song. The principle here is that the meal is communion: the body of
  Christ gathered around the body of Christ symbolic, remembering the body of Christ risen.

%blockquote
  After the meal, the group transitions to the more structured time of discussion and
  contribution, and most likely this involves moving into another room. At this point, younger
  children can stay with the group or through pre-arrangement, someone might share in the
  rotation of teaching the younger kids in a different room. We encourage as many of the kids
  to stay as possible in order to experience the church community together.

%blockquote
  Often, what works well is to begin with a time of songs, stories, and inviting people to share
  what God is doing in their lives (This can include children). After a period of time, a prearranged
  couple of people take the children into another room for a child specific lesson,
  while the conversation is focused on a more specific teaching and discussion of scripture,
  and prayer.

%blockquote
  After the time of mutual contribution of scripture, song, prayer, and discussion, a leader
  concludes the structured time in an appropriate way. People are free to leave, but are
  welcome to stay to continue conversations.

%blockquote
  The eucharistic gathering for the week is over, but the gathering is intended to serve as a
  catalyst for authentic relationship and connection throughout the week as the community
  seeks to proclaim the gospel through their individual and community life.

%h3
  In Summary:

%p
  A typical distributed church gathering is IN A HOME (or a storefront, or under a tree) AROUND A
  MEAL (The Lord’s Supper) with a focused time of DISCUSSION OF SCRIPTURE (devotion to the
  apostles' teaching) and PRAYER where EVERY MEMBER PARTICIPATES through the discussion
  of Scripture or an artistic contribution (psalms, hymns, spiritual songs). (Acts 2:42-47; Ephesians
  5:17-20)

%p
  It may also include conversation about opportunities to INCLUDE THE UNINCLUDED,
  conversation about a PLAN TO SERVE (a specific people, place, organization, or cause), and
  COMMUNICATION FROM THE NETWORK through relationships, correspondence and/or
  technology.

%p
  Resources: For a further discussion of the different elements of the gathering, see Appendix 3.

%h2
  Sacred Practices

%p
  God, in his providence, has given us simple and repeatable practices that invite us to lift up
  our eyes and engage the transcendent in the midst of our everyday lives. Using common
  elements like water, bread, dirt, metal, air, these rituals point us to the reality of the kingdom
  beyond the material elements of our lives. Sometimes called sacraments, sometimes referred
  to as sacerdotal functions, we call them sacred practices. These sacred practices -
  communion, baptism, weddings, funerals - are vital to a distributed church’s shared life and
  worship.

%p
  Leaders of distributed churches are encouraged to perform any and all of the typical “church”
  functions within their community. They affirm the identity of the distributed church, and often a
  group does not feel like a legit church until they engage in the sacred practices together.
  Baptizing a new believer, or partaking of communion can be a transforming event for a group
  of people finding their identity as a distributed church.

%p
  In the situations where official ordination or other resources are necessary, the Resource Center
  can come alongside the Church Leaders to help with the credentials and training they need.

%p
  See <a href="//resourcewell.org">resourcewell.org</a> for more ideas and ways to use the sacred practices in the context of
  distributed churches.

%h2
  Community

%p
  Before we move on to a discussion about developing leaders to carry the ministry and mission
  forward (Entrusting), we should also say a word about the relationships we hope to see formed in
  the context of distributed churches.

%p
  Distributed churches can be the environment for deep and meaningful relationships, but it is
  important to remember that some targets cannot be hit by aiming directly at them. Character is a
  good example of this kind of target. While one may aspire to develop character, character itself is
  developed through a focus on other things. Community functions in much the same way.

%p
  There is a certain quality of relationship and commitment to one another that are represented when
  we use the word “community.” But, simply focusing on this type of relationship, or worse
  demanding this level of intimacy and commitment from one another without giving it time and the
  right environment to develop can actually be detrimental to the goal.

%p
  Relationships can be formed around affinity, similarity, or common purpose. The goal of a
  distributed church is to form the relationships around the later. The common purpose of helping
  one another conform our lives to Christ, serve one another and our neighbor, and carry the mission
  of Jesus into the world makes for a strong, unifying basis for community. Affinity and similarity can
  bolster the connection, but it is in the fire of this common purpose that meaningful, sacrificial
  relationships are formed.
