---
title: Expanded Discussion of the&nbsp;Gathering
date: 1997/01/01
sectiontitle: Appendix 3
---

%p
  Let’s spend a little time breaking down the elements of a Distributed Church gathering more fully,
  so you have a better picture of the reason for including each in the gathering. Does every element
  have to be included every time? No. Sometimes the Holy Spirit moves in a unique way and we
  must stay sensitive to His leading. But, this structure, modeled after Paul’s instructions to the
  churches in the Epistles, forms a basic template for the flow of a distributed church gathering.

%h4
  1 - A Home

%p
  We have modeled our weekly gatherings after the principles of the meetings of the Early Church
  (Acts 2:42, Acts 20:7-11). Based on this pattern our distributed churches meet in homes, or other
  spaces that can accommodate the key elements of the time together. Homes are strategic as they
  position the activity of the church closer to the people we are seeking to serve.

%h4
  2 - A Meal: The Lord's Supper

%p
  Every distributed church gathering continues in the New Testament tradition of meeting together
  over a meal, when possible, that celebrates the sacrament of communion. The meal is significant
  to the Church because it connects believers to the past, present, and future provision of Christ.
  This is an activity that began in Acts 2:42 - the fellowship and breaking of bread from house to
  house - and is a key part of what fed the spontaneous expansion of the Early Church. We follow
  this same pattern today. While we have grown accustomed to the sacrament of communion as an
  efficient partaking of wafer and cup, in the distributed church gathering we return to the heart of
  the Lord's Supper as a full meal, shared in community, serving as a reminder of the presence of
  Jesus in the life of each person, and the community.

%p
  This concept was fully developed in Paul's instruction about the "Lord's Supper" to all the
  churches in 1 Corinthians 11, becoming synonymous with the believers meeting together for a
  meal - to "break bread." They gathered together for the purpose of observing the Lord's Supper
  and that term - The Lord's Supper - was used to symbolize the whole meeting.

%h4
  3 - A Devotion to Scripture and Prayer

%p
  Following the meal, the gathering transitions to a more structured time of discussion and
  instruction, which is overseen by the leadership of that distributed church. As Paul repeatedly
  reminds the early churches, there are a variety of gifts necessary for the church to function together
  and each person is encouraged to use their gifts to contribute to the meeting. Opportunities are
  available for all for the strengthening of the church through their participation. Contribution to this
  more structured time could take any of the following forms:

%ul
  %li
    %strong Scripture -
    Teaching in the distributed church is in the form of dialogue meant to engage the
    inquiring mind, as opposed to lecture, and is designed to orient the community toward Christ,
    "the author and perfecter of our faith." A teaching can be presented as a result of new
    understanding or insights that have been gained as the Spirit works in the minds, and lives, of
    the individuals to uncover truth based on the mind of Christ. A Scripture can be shared along
    with a story or testimony that serves as a reminder of God's faithful work in the community,
    family, and individual lives. An individual, family, or community problem may be presented to the
    group to seek to understand biblical principles and how they apply to that issue.
  %li
    %strong Prayer -
    A focused prayer time on community or global issues, the mission of the church,
    needs in the church, commissioning leaders, or to dialogue with and worship God.
  %li
    %strong Songs, hymns, or other artistic expressions -
    Song, poetry, written prayer, visual art, etc.
    that has emerged as an individual is processing truth and seeking to celebrate who God is,
    what God has done, and what God is doing. (1 Cor. 14:26, 29)
  %li
    %strong Opportunities of the distributed church -
    A discussion may be necessary to respond to
    opportunities to include the unincluded, start new churches, plan for organized projects to
    serve the community, discuss important details related to the regular gathering of the
    community, discuss tithing or needs and opportunities in the community that require financial
    support, discuss how to care for one another in practical ways through the week, etc.
  %li
    %strong Network-wide communication from Northland's leadership -
    Time and attention may be
    required to solve or correct issues within the church network or simply to ensure that
    community dialogue is taking place on important issues.

%p
  Through the oversight of the leadership of each church the emphasis is on constant discernment
  for what each particular community is experiencing and needs. While on the one hand no two
  church gatherings will be identical - it is an extended family of uniquely gifted people - we also aim
  for every distributed church to be accomplishing the same purpose and living by the same
  principles.

%h4
  4 - A Desire To Include the Unincluded

%p
  The Scriptures are full of stories that show God’s heart to include those who are not yet included.
  As each distributed church gathers to celebrate the resurrection of Jesus, with the Word richly
  dwelling in their midst and pouring back out in their lives together, the gathering becomes a
  catalyst to love and serve the wider community. Embedded in the very nature of every distributed
  church is the desire to see the gospel lived out everywhere, every day, and the belief that, as a
  result, the community will grow as the Lord adds to their number. Through authentic relationships
  and the wise activity and proclamation of believers, God has consistently drawn more people to
  Himself and expanded His Church.

%ul
  %li
    Each church is in prayer for those who are not yet included.
  %li
    The church community seeks to find ways to live out the good news in their context of work,
    school, neighborhoods, and local area. This happens via the dynamic activity of each
    individual, the intentional activity of the church together, or a collective effort from the full
    network of churches.
  %li
    Each church is open to new people joining and helps new converts become established in their
    faith. This might include baptizing new believers and teaching the foundational principles of
    what it means to be a disciple of Jesus.
  %li
    Each church believes that as it grows, God will provide leadership to birth new churches. If the
    time comes where a church has maxed out it’s room capacity or there is an opportunity to
    more effectively reach a new group of people, there is an anticipation that new leadership will
    emerge. The multiplication of churches are birthed through commissioning, training, and
    sending new leadership to start a new distributed church.
