.navigation
  = link_to '#', class: 'navigation-toggle' do
    = partial '/assets/images/nav-open.svg'
  .navigation-content
    = link_to '#', class: 'navigation-toggle' do
      = partial '/assets/images/nav-close.svg'
    %a.navigation-home{href: '/'} Homepage
    %h2 Table of Contents
    %a.navigation-intro.mbl{href: "../introduction/"} Introduction

    .cell
      .g
        .g-b.g-b--m--1of2
          %h4 Section A
          %h3 I Am = Us for Them, There
          %ol
            %li
              %a{href: "#"} Sample

        .g-b.g-b--s--1of2
          %h4 Section B
          %h3 Distributing the Church
          %ol
            %li
              %a{href: "#"} Sample

          %h3 Additional Resources
          %ol
            %li
              %a{href: "#"} Sample
