// *************************************
//
//   Card
//   -> Individual style containers
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .card
//   / ...
//
// *************************************

.card
  background: $c-background
  border: $b-border
  border-radius: $b-borderRadius
  box-sizing: border-box
  margin-bottom: $b-space-m
  padding: $b-space-s $b-space-s 0
  position: relative
  h3, p
    margin: 0 !important
    padding: 0 0 $b-space-s !important
  p
    font-size: 100% !important

// -------------------------------------
//   Context
// -------------------------------------

.card.card--a
  background: $c-background

.card.card--b
  background: darken($c-background, 2.5%)

.card.card--c
  background: darken($c-background, 5%)

// -------------------------------------
//   Context
// -------------------------------------

.has-cards
  margin: $b-space-m 0
  .card
    border-bottom: none
    border-radius: 0
    margin-bottom: 0
    &:first-child
      border-radius: $b-borderRadius $b-borderRadius 0 0
    &:last-child
      border-bottom: $b-border
      border-radius: 0 0 $b-borderRadius $b-borderRadius
