// *************************************
//
//   Card
//   -> Individual style containers
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .card
//   / ...
//
// *************************************

.card
  border: $b-border
  box-sizing: border-box
  padding: $b-space-s $b-space-s 0
  position: relative
  h3, p
    margin: 0 0 $b-space-s !important
    padding: 0
  p
    font-size: 100% !important
