// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// *************************************

.row
  overflow: hidden
  padding: 0 $b-space

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.row--a
  background: darken($blue, 5%)

.row--b
  background: $red
  color: $c-text-invert

.row--c
  background: $blue
  color: $c-text-invert
