.g-b.g-b--m--2of3
  .card.mbm
    %h1 Cover Page
    %p
      This section should be similar to a book cover. Not in style and
      presentation, but in content. A good "cover page" would be to
      include this info:
    %ul
      %li Logo
      %li Title
      %li Brief introduction
      %li Link to begin reading
.g-b.g-b--m--1of3
  .card.mbm
    %h1 Table of Contents
  .card
    %h1 Call to Action
    %a{:href => "/"} Begin Reading
