.article
  .cell.cell--s.mbl
    = partial '/assets/images/iam-typography.svg'
  %h4.mbm.tac
    = link_to 'Homepage', '/'
    &bull; Metadata
  %h1 Page Title
  %p
    Vestibulum id ligula porta felis euismod semper. Aenean lacinia
    bibendum nulla sed consectetur. Curabitur blandit tempus
    porttitor. Nullam id dolor id nibh ultricies vehicula ut id
    elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
    dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas.
  %p
    Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id
    elit non mi porta gravida at eget metus. Vivamus sagittis lacus
    vel augue laoreet rutrum faucibus dolor auctor. Nullam quis
    risus eget urna mollis ornare vel eu leo. Nulla vitae elit
    libero, a pharetra augue. Nullam id dolor id nibh ultricies
    vehicula ut id elit. Sed posuere consectetur est at lobortis.
  %p
    Donec sed odio dui. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Nullam id dolor id
    nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus mus. Sed
    posuere consectetur est at lobortis. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Donec id elit non mi porta gravida at eget metus.
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
    porta sem malesuada magna mollis euismod. Vestibulum id ligula
    porta felis euismod semper. Curabitur blandit tempus porttitor.
    Integer posuere erat a ante venenatis dapibus posuere velit
    aliquet. Maecenas sed diam eget risus varius blandit sit amet.
  %p
    Vestibulum id ligula porta felis euismod semper. Aenean lacinia
    bibendum nulla sed consectetur. Curabitur blandit tempus
    porttitor. Nullam id dolor id nibh ultricies vehicula ut id
    elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
    dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas.
  %p
    Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id
    elit non mi porta gravida at eget metus. Vivamus sagittis lacus
    vel augue laoreet rutrum faucibus dolor auctor. Nullam quis
    risus eget urna mollis ornare vel eu leo. Nulla vitae elit
    libero, a pharetra augue. Nullam id dolor id nibh ultricies
    vehicula ut id elit. Sed posuere consectetur est at lobortis.
  %p
    Donec sed odio dui. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Nullam id dolor id
    nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus mus. Sed
    posuere consectetur est at lobortis. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Donec id elit non mi porta gravida at eget metus.
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
    porta sem malesuada magna mollis euismod. Vestibulum id ligula
    porta felis euismod semper. Curabitur blandit tempus porttitor.
    Integer posuere erat a ante venenatis dapibus posuere velit
    aliquet. Maecenas sed diam eget risus varius blandit sit amet.
