---
title: Complex Network of Churches
sectiontitle: Section A&#58; I Am &#61; Us for Them There
layout: 'layout_article'
---

%p
  The resources we need for spiritual growth are embedded in our
  relationships - our "us" and our "them." This maxim of
  interdependence is true at an individual level, but also at a church
  level. Thus, to be fully understood, a single distributed church
  must operate within the context of the network of churches.
  Distributed churches do not function in an isolated fashion, but
  rather are designed for cooperation, interdependence and linking
  together. These are key aspects of a distributed church’s DNA.

%p
  The small, authentic community provides the ideal environment for
  spiritual formation and Christian witness, but the full mission is
  too big to be accomplished by a single distributed church. Thus, we
  not only orient ourselves for those outside our group, but also
  partner together with those outside our extended family. To make
  disciples of all nations (Matthew 28:19-20), to be Christ’s
  witnesses to the ends of the earth (Acts 1:8), and to see the whole
  earth filled with the knowledge of the Glory of God (Habbakuk 2:14)
  requires the mutual participation and cooperation by all.

%p
  The network is also a way to ensure sound doctrine and protect
  against heresy or rogue leaders. The need for cross-pollination is
  a part of the fabric of God's design for the universe. Isolation
  whether in plants or distributed churches, increases the likelihood
  for poor health. So, distributed churches link with one another
  through every element of the network.

%p
  It is as a network of churches that we again reflect the identity of
  %strong I&nbsp;Am = Us For Them There.
