---
title: The 4 S's
section_title: Section A&#58; I Am &#61; Us for Them There
layout: 'layout_article'
---

%p
  What makes a distributed church truly a church - and therefore
  different than a small group, home group, or Bible study - is that
  they embrace the following four things:

%p
  %strong Self Identity -
  a distributed church understands its identity and function as
  that of a church. This isn’t merely about a choice of term or what
  members call themselves; it is about a commitment to being the
  church in your context, embracing God’s ministry and mission (Us
  for Them, There). As a result, spiritual families/distributed
  churches don’t see themselves as an aspect of the church, but as a
  whole church interconnected with other churches.

%p
  As a foundation for their identity and connection to other churches,
  distributed churches align with the historic theological creeds
  (The Apostle’s Creed, Nicene Creed, etc.).

%p
  %strong Sacred Practices -
  a distributed church integrates the sacred practices of
  communion, baptism, weddings, and funerals as part of their shared
  life and worship. These are the practices that God has given us to
  affirm our identity in Him.

%p
  %strong Service to Empower -
  a distributed church understands that it is who it is for the
  benefit of others. It pursues opportunities to serve one another
  and those outside its group in a way that empowers them to serve
  others as well. It embraces the opportunities for ministry that God
  brings its way.

%p
  %strong Spontaneous Expansion -
  A distributed church is focused on the expansion of the Church. It
  understands that its mission is to make disciples. So, a
  distributed church multiplies. These are churches that plant
  churches that plant churches.

%p
  What isn’t needed to be a distributed church is a building, band,
  powerpoint presentation, or professional clergy. When we understand
  that, and we get down to the essentials of what it means to be a
  church we can begin to see “church” more along the lines of family.
  When we define church along the lines of family we are freed up to
  create churches in a whole new way.

%p
  Again, God's plan to bring His kingdom to earth has not changed and
  the heart of that plan is communities of disciples, transformed by
  Jesus, serving others.
