---
title: Unifying Attributes
section_title: Section A&#58; I Am &#61; Us for Them There
layout: 'layout_article'
---

%p
  The highly contextual nature of relationships and cultures make it
  necessary for great freedom in form. Distributed churches are
  developed around biblical principles, not specific procedures and
  rules. The New Testament writers understood this. So, the goal isn't
  to develop a list of uniform should's and how to's, but rather to
  identify the right principles that can be applied in any context.
  The goal of this Field Guide is not to answer every question, but
  rather to pose the key questions that need to be answered in your
  situation.

%p
  In the midst of this vast diversity of form, there are still
  patterns that emerge. Healthy distributed churches display unifying
  attributes. The writers of the Scriptures often refer to the church
  as the body of Christ. Just as no one body looks identical to
  another, we still find consistent attributes that are likely present
  in a healthy body.

%p
  A distributed church&#8230;

%ul
  %li
    &#8230;centers on God and forms around others.
  %li
    &#8230;honors God for who He is, and what He has done as revealed
    through the Scriptures.
  %li
    &#8230;understands “church” as a spiritual family of people and
    as a way of life.
  %li
    &#8230;values and encourages every-member participation in the
    extension of the church.
  %li
    &#8230;seeks to identify the gifts and abilities of each person
    in the church.
  %li
    &#8230;includes the unincluded (see Evangelism).
  %li
    &#8230;disciples one another (see Establish).
  %li
    &#8230;develops leaders (see Entrust).
  %li
    &#8230;multiplies (see Repeat).
  %li
    &#8230;is linked through relationships and technology with other
    churches in a network (in a spirit of accountability and
    mutual benefit).
  %li
    &#8230;is a church. Though a distributed church may be integrated
    with a larger resource center, it is not a small group, cell
    group, Bible study, or other subset of a church. A distributed
    church takes responsibility for the ministry to its members and
    supports them to carry out the mission in their particular
    context, there. Distributed churches partner with a resource
    center so they can be more effective in their ministry; they
    don’t solely refer needs to the resource center or function
    purely independently.
